
.font {
  font-family: "Lobster", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.dark {
  background-color: black;
  color: white;
}
.display {
  display: none;
}
.Bdisplay {
  display: block;
}